.gradient {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: fit-content;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.round {
    border-radius: 2%;
}

.project-img {
	height: 10em;
	margin-top: 1%;
	margin-bottom: 1%;
}

.skill-logo {
	height: 5em;
	margin-top: 1%;
	margin-bottom: 3%;
}

footer {
    box-shadow: 0 50vh 0 50vh rgb(33, 37, 41);
}